h1
    {
        text-align: center;
        margin-bottom: 30px;
        cursor: default;
    }

.form-group > label
    {
        margin-top: 10px;
        font-weight: bold;
    }

.table-message
    {
        font-size: 20px;
        text-align: center;
    }

.nav-title
    {
        text-align: center;
        align-content: center;
        color: #5e5e5e;
        font-weight: 600;
        background-color: #eeeeee;
        padding: 4px 8px;
        border-radius: 5px;
        cursor: default;
        margin-right: 5px;
		font-size: 14px;
    }

.nav-text
    {
        text-align: center;
        align-content: center;
        color: #5e5e5e;
        margin-right: 5px;
    }

.navbar-brand
    {
        transition: 0.2s ease;
    }
.navbar-brand:hover
    {
        scale: 105%;
        transition: 0.15s ease;
    }
.navbar-brand:active
    {
        scale: 95%;
        transition: 0.1s ease;
    }

.nav-item
    {
        border-radius: 100px;
        padding: 0 2px;
		height: 35px;
        transition: 0.25s ease;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: rgba(0, 0, 0, 0.05) 0 0 5px;
    }
.nav-item a
	{
		margin-top: -3px;
	}
.nav-item:hover
    {
        background-color: rgba(0, 0, 0, 0.03);
        transition: 0.2s ease;
        box-shadow: none;
    }
.nav-item:active
    {
        background-color: rgba(0, 0, 0, 0.08);
        transition: 0.15s ease;
        scale: 0.95;
        box-shadow: none;
    }

.navbar-nav
    {
        gap: 5px;
    }

.login-button
    {
        background-color: #27ceff;
    }
.login-button:hover
    {
        background-color: #27edff;
    }
.login-button:active
    {
        background-color: #27a5ff;
    }

.logout-button
    {
        background-color: #ff8080;
    }
.logout-button:hover
    {
        background-color: #ffa7a7;
    }
.logout-button:active
    {
        background-color: #dd7171;
    }

.nav-form
    {
        border-radius: 5px;
        padding: 3px 6px;
        transition: 0.25s ease;
        background-color: rgb(255, 255, 255);
        border: rgb(222, 222, 222) solid 0.13rem;
    }

.nav-item_group
    {
        display: flex;
        gap: 15px;
    }

.nav-category
{
    display: flex;
    gap: 5px;
}

.nav-sepration
    {
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 100px;
        height: 40px;
        width: 4px;
        margin-left: 25px; margin-right: 25px;
    }
select, option, ::-webkit-inner-spin-button, input[type="month"]
    {
        cursor: pointer;
    }

#suppr
    {
        float: right;
    }

.from-error
    {
        margin-top: 15px;
    }

.resultat-recherche
    {
        display: flex;
        margin-bottom: 10px;
        gap: 10px;
        align-items: center;
    }

.resultat-recherche p
    {
        font-weight: 600;
        font-size: 20px;
    }

.resultat-recherche input, .resultat-recherche button
    {
        margin-bottom: 12px;
        /*border-radius: 5px;
        border: #a0a0a0 solid 0.01rem;*/
        max-width: 500px;
        display: flex;
        gap: 15px;
    }

.ajout-de-specialite, .ajout-de-fraisF
    {
        display: flex;
        margin-bottom: 10px;
        gap: 10px;
        align-items: center;
    }

.ajout-de-specialite div div select, .ajout-de-specialite div button, .ajout-de-fraisF div div select, .ajout-de-fraisF div button
    {
        margin-bottom: 12px;
        gap: 15px;
    }

.ajout-de-specialite div div select, .ajout-de-fraisF div div select
    {
        min-width: 500px;
    }

.ajout-de-specialite div, .ajout-de-fraisF div
    {
        display: inline;
    }

.ajout-de-specialite div label, .ajout-de-fraisF div label
    {
        min-width: 205px;
    }

.ajout-de-specialite div button
    {
        margin-top: 32px;
    }
.ajout-de-fraisF div button
    {
        margin-bottom: 20px;
    }

.ajout-de-fraisF div div div
	{
		display: inline-flex;
		align-items: center;
		margin-top: -10px;
	}
.ajout-de-fraisF div div div p
	{
		min-width: 125px;
		margin-top: 8px;
	}
.ajout-de-fraisF div div div input
	{
		width: 75px;
	}

.delete-text
    {
        color: #c30000;
    }

.ajout-de-fraisHF
	{
		margin-bottom: 10px;
	}

.money-group
	{
		display: flex;
		gap: 5px;
		align-items: center;
		cursor: default;
	}